body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid lightgrey;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bevan', serif;
    letter-spacing: .1em;
    transform:scale(0.8,1);
    text-align: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
}

main {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

#board {
    grid-column-start: 2;
    justify-self: center;
    width: 300px;
    height: 360px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.cell {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    border: 2px solid #d3d6da;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filled {
    border-color: #878a8c;
}

.absent {
    color: white;
    background-color: #787c7e;
    border: 0;
}

.present {
    color: white;
    background-color: #c9b458;
    border: 0;
}

.correct {
    color: white;
    background-color: #6aaa64;
    border: 0;
}

#suggestions {
    margin-left: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* #solutions-box {
    height: 100%;
    width:200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    overflow-y:auto;
    resize: none;
    background-color: #f9f9f9;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    color: #111;
    border: none;
    outline: none;
} */

#solutions-box {
    height: 100%;
    width:200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    overflow-y:auto;
    resize: none;
    background-color: #f9f9f9;
    font-family: "Roboto Mono", monospace;
    font-size: larger;
    color: #111;
    border: none;
    outline: none;
}

#hide-scrollbar-overflow {
    flex-grow: 1;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}